.programa-section {
    background-image: url("../img/patron-fondo.png");
    background-repeat: repeat;
    background-size: 130px;
    border-bottom: 1px solid #bfbfbf;
}

.programa-img {
    width: 100%;
    max-width: 430px;
    border-radius: 4px;
    object-fit: contain;
}

@media (max-width: 767px) {
    .programa-img {
        max-width: 100%;
    }
}